#!/usr/bin/make -f

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

EXTENSION_DIR	?= $(shell php-config5 --extension-dir)
phpapiver=$(shell grep '\#define PHP_API_VERSION ' $(PHP_PREFIX)/include/php5/main/php.h |sed 's/\#define PHP_API_VERSION //')

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS = -g -O2
else
	CFLAGS = -g -O0
endif

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	phpize5
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --with-php-config=/usr/bin/php-config5
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) clean
	rm -f configure acinclude.m4 aclocal.m4 config.guess config.h.in
	rm -f config.sub configure.in dynlib.m4 install-sh libs.mk ltmain.sh
	rm -f missing mkinstalldirs .deps
	rm -f conftest* config.h config.nice Makefile.global
	rm -rf modules build
	dh_clean
	rm -f debian/dirs

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	echo $(EXTENSION_DIR) |sed -e's#^/##' > debian/dirs
	dh_installdirs
	$(MAKE) install EXTENSION_DIR=$(CURDIR)/debian/php5-topy$(EXTENSION_DIR) prefix=$(CURDIR)/debian/php5-topy/usr

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_installdebconf
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	echo "php:Depends=phpapi-`php-config5 --phpapi`" >> debian/php5-topy.substvars
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
